@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Assistente Pessoal - Trabalho Prático LI4";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Este trabalho foi realizado no âmbito </p>
